.footer {
		background-color: $primary-dark;
    // padding-top: rem(10);
    // padding-bottom: rem(10);
    &__col{
      padding-top: rem(20px);
      padding-bottom: rem(20px);
    }
.row{
  @include media-breakpoint-up(xxxl) {
    
    justify-content: space-between;
  }
  // justify-content: center;
}
&__logo-wrap{
  img{
    @extend .res-i;
  }
}
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
.footer-nav{
  @include media-breakpoint-up(xxxl) {

    display: flex;
  }
  @include roww(13);
  ul{
    list-style-type: none;
  }
  &__title{
    color: #efefef;
    text-transform: uppercase;
    @include rfs(rem(30));
    letter-spacing: 0.4px;
    font-weight: bold;
  }
  a{
    color: #efefef;
    // font-family: "Prompt - Extra Light";
    font-weight: 300; 
    font-weight: 400;
    // Text style for "Express ,"
    letter-spacing: rem(0.26px);
    font-size: rem(18px);
  }
  &__nav{
    border-left: 2px solid $primary;
    // padding-left: 13px;
    &--col{
      columns: 2;
    }
  }
  ul{
    margin-bottom: 0;
  }
}