.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-fb {
	font-size:(327.03/10)*1rem;
	width:(327.03/327.03)*1em;
}
.icon-insta {
	font-size:(498.19/10)*1rem;
	width:(500/498.19)*1em;
}
.icon-instagram {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-map {
	font-size:(299.17/10)*1rem;
	width:(500/299.17)*1em;
}
.icon-twitter {
	font-size:(162.54/10)*1rem;
	width:(200/162.54)*1em;
}
.icon-youtube {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
