mixin s-newsroom()
	// start s-newsroom
	+b.SECTION.s-newsroom.section#s-newsroom&attributes(attributes)
		.main-section-wrap
			h1 Newsroom
			p Lorem ipsum dolor sit amet, ad&nbsp;vim adversarium instructior, vix no&nbsp;dicunt alterum. Ei&nbsp;nec fabellas expetenda. Eam ignota scripserit accommodare&nbsp;no, at&nbsp;usu labitur epicuri. Unum partiendo maluisset at&nbsp;nec, cu&nbsp;magna inimicus pri. Eu&nbsp;case electram postulant eos, in&nbsp;dicant postea qui, mei sumo vocent voluptua&nbsp;et.
	// end s-newsroom