mixin s-map()
	// start s-map
	+b.s-map&attributes(attributes) 
		+e.map-wrap
			+pic("map",'','',0)(class='header-img')
		+e.block
			+e.block-item
				+e.block-item-title NEW TRUCKS
				+e.block-item-text 2400
			
			+e.block-item
				+e.block-item-title DRIVERS 
				+e.block-item-text  2800
			
			+e.block-item
				+e.block-item-title MILLION KILOMETERS TRAVELED
				+e.block-item-text   255
			
			+e.block-item
				+e.block-item-title TURNOVER 
				+e.block-item-text  420 MILLION
	// end s-map