extends layout/main.pug
block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-financial/_s-financial.pug

block pagecontent
 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	+header-block()
		+pic("financial",'','',0)(class='header-img')
	//- +s-form()
	.main-page-wrap
		.container
			.row
				.col-lg
					+s-financial
				.col-lg.side-col.order-lg-first
	//- +s-contact()
	+footer()

