extends layout/main.pug
block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-financial/_s-financial.pug
include ../blocks/s-express/_s-express.pug
include ../blocks/side-blocks/_side-blocks.pug

block pagecontent
 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	+header-block()
		+pic("service-2",'','',0)(class='header-img')
	//- +s-form()
	.main-page-wrap
		.container
			.row
				.col-lg
					+s-express
				.col-lg.side-col.order-lg-first
					+side-blocks('form-simple')
	+footer()

