extends layout/main.pug
block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-map/_s-map.pug

block pagecontent
 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	+header-block()
	//- +s-form()
	+s-map
	//- +s-contact()
	+footer()

