mixin s-service()
	// start s-service
	+b.SECTION.s-service.section#s-service&attributes(attributes)
		.main-section-wrap
			h1 Service
			p Lorem ipsum dolor sit amet, ad&nbsp;vim adversarium instructior, vix no&nbsp;dicunt alterum. Ei&nbsp;nec fabellas expetenda. Eam ignota scripserit accommodare&nbsp;no, at&nbsp;usu labitur epicuri. Unum partiendo maluisset at&nbsp;nec, cu&nbsp;magna inimicus pri. Eu&nbsp;case electram postulant eos, in&nbsp;dicant postea qui, mei sumo vocent voluptua&nbsp;et.
			p In&nbsp;his utamur aeterno prodesset, an&nbsp;mel ridens offendit expetenda. Sea mollis voluptua&nbsp;ea, sea id&nbsp;wisi tollit accumsan, dolor facilisis adolescens nec&nbsp;et. Duis affert periculis pro&nbsp;an. Pro mazim constituto incorrupte&nbsp;ei. Ei&nbsp;usu possit ponderum, eam augue fastidii theophrastus&nbsp;ea. Vel minimum expetendis consectetuer&nbsp;ea, ea&nbsp;mollis tamquam sed. Ipsum aperiri eu&nbsp;mei, mei no&nbsp;esse ipsum dicam, laudem accusam definitionem per&nbsp;ea.
	// end s-service