
mixin mob-mnu()
	
	+b.menu-mobile--js.d-xl-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+e.inner-wrapper
				+mnu()
				+mnu-aside()
				.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col-xxxl.col-auto.d-none.d-xl-block
					+e.menu
						+mnu()
				.col-xxxl-auto.col
					+b.form-search
						form
							input(type='text')
							input#searchsubmit(type='submit')
				+lang-map()(class="d-none d-md-block")
	// end top-nav