.top-nav {
	 font-weight: bold;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.38);
	background-color: $secondary;
	// padding: rem(6) 0;
	@include rfs(rem(35))
	@include media-breakpoint-up(xxxl) {

		padding-right: em(10);
	}
	position: relative;
	z-index: 4;
	// position: absolute;
	top: 100%;
	// @include clearfix;ss
	z-index: 20; 
	@include mt; 
	top: 0;
	left: 0;
	width: 100%;

	&.fixed {
		width: 100vw;
		bottom: auto;
		margin-top: 0;
		background-color: #fff;
	}

	.menu {
		text-align: center;
		list-style-type: none;
		margin: 0;
		display: flex;

	}
	&__menu{

	}
	.menu-item {
		 
		list-style-type: none;

		a{
			color: #ffffff; 
		
			font-weight: 700;
			text-transform: uppercase;
			display: block;
			letter-spacing: 0.46px;
			text-decoration: none !important;
			// font-size: 35px;
			// font-style: italic;
			// Text style for "HOME     A"
			
			letter-spacing: em(0.56px / 3);
		}
	}
	.row{
		align-items: center;
	}
	&__menu{
		.menu{
			@include media-breakpoint-up(xxxl) {

				@include roww(9);
			}
			display: flex;
			justify-content: space-between;
			>li{
				padding-top: rem(6);
				padding-bottom: rem(6);
				flex-grow: 1;
				position: relative;
				// margin-right: rem(18);
				// &:not(:last-chi)
			}
		}
		a{
			padding: rem(2) rem(10);
			transform: skewX(-17deg);
			// display: none;
			&:hover{
				background-color: $primary;
			}
		}
		li:hover .sub-menu{
			display: block;
		}
		.sub-menu{
			display: none;
			position: absolute;
			box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.18);
			background-color: $light;
			text-align: left;
			left: 0;
			top: 100%;
			a{
				// background-color: transparent !important;
				display: block;
				min-width: em(205);
				transform: skewX(0);
				font-style: italic;
			}
			// margin-top: em(2);
		}
	}
 


	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}
@include media-breakpoint-down(xs) {
	

}


.form-search{
	padding-top: rem(6);
	padding-bottom: rem(6);
	@include media-breakpoint-up(md) {
		padding: 0;
		margin-right: rem(-15);
	}
	form{
		display: flex;
		align-items: center;
	}
	input{
		&:not([type="submit"]){

			box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
			border: none;
			@include rfs(rem(20));
			@include media-breakpoint-up(xxxl) {

				width: em(340);
			}
			width: 100%;
			padding: rem(13) rem(10);
			margin-right: rem(10);
		}
	}
	[type="submit"]{
		color: transparent;
		background: none;
		box-shadow: none;
		border: none;
		width: rem(43px);
		height: rem(43px);
		@include bg("search_icon.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;
	}
}
.dropdown{

	.icon{
		@include rfs(rem(48));
		color: #ffffff;
	}
	&__block{
		display: none;
		position: absolute;
		background-color: $light;
		z-index: 2;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.38);
		right: 0;
		font-style: italic;
		top: 100%;
		a{
			font-size: rem(18) !important;
			color: #ffffff !important;
			padding: rem(10);
			display: block;
			font-weight: normal;
			min-width: 200px;
			&:hover{
				background-color: $primary;
			}
		}
	}

	&:hover &__block{
		display: block;
	}
}
.dropdown__toggle{
	padding-top: em(4);
}
.dropdown__toggle,
.lang-block .menu > li > a{
	position: relative;
	padding-right: rem(35);
	&::after{
		content: '';
		@include a-cent(y);
		right: 0;
		@include triangle(30px, #fff, down);
		@include media-breakpoint-down(sm){
			border-top: 15px solid $secondary;
		} 
	}
	cursor: pointer;
}
.dropdown,
.lang-block{
	font-weight: bold;
	ul{

		list-style-type: none;
	}
	a{
		@include rfs(rem(34));
		text-decoration: none !important;
		
		@include media-breakpoint-up(md) {

			color: #ffffff !important;
		}
		color: $secondary !important;
	}
			.icon{
				@include media-breakpoint-up(md) {
	
					color: #ffffff !important;
				}
				color: $secondary !important;
			}
	.sub-menu{
		// display: none;
		// display: block !important;
		position: absolute;
		right: 0;
		top: 100%;
		display: none;
		position: absolute;
		background-color: $light;
		z-index: 2;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.38);
		right: 0;
		font-style: italic;
		top: 100%;
		width: 100%;
		&:hover{
			background-color: $primary;
		}
		a{
			font-size: rem(18) !important;
			color: #ffffff !important;
			padding: rem(10);
			display: block;
			font-weight: normal;
		 
		}
		a{

		}
	}
	&:hover{
		.sub-menu{
			display: block;
		}
	}
}

// мобильное меню

// мобильное меню
$h: rem(4);

.toggle-menu-mobile {
	display: block;
	height: $h* 9;
	// margin-top: 15px;
	margin-left: 0;
	position: relative;
	z-index: 999 !important;
	right: 0;
	padding: 3px; 
	top: $h;


	span{
		@include a-cent(y);
	}
	
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}
	span:before {

		
		top: $h * 2;
	}
	span:after {
		bottom: $h * 2;
	}

	span {
		position: relative;
		display: block;
	}

	span,
	span:after,
	span:before {
		width: 32px;
		@include media-breakpoint-up(sm) {

			font-size: rem(40);
		}
		// width: 1em;
		height: $h;
		background-color: $primary;
		transition: all 0.3s;
		backface-visibility: hidden; 
	}

	&.on {
		opacity: 0;
	}

	&.on span {
		background-color: transparent;
	}
	&.on span:before {
		top: 0;
		bottom: 0;
		transform: rotate(45deg) ;
		transform-origin: 50% 50%;
	}

	&.on span:after {
		top: 0;
		bottom: 0;
		transform: rotate(-45deg) ;
		transform-origin: 50% 50%;
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 85%;
	height: 101vh;
	width: 280px;
	top: 0;
	// left: 0;
	right: 0;
	transform: translate(100%, 0);
	@include mt(.6);
	will-change: transform;

	&__inner {
		background-color: $secondary;
		padding-bottom: 5%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
		margin-bottom: 0;
	}

	li {
		display: block;
		margin: 0;
		border-top: 1px solid #fff;
		position: relative;
		.toggle-l{
		background-image: url(../img/svg/chevron-down-solid.svg);
		width: rem(45);
		height: rem(45);
		position: absolute;
		right: 0;
		top: 0;
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: center center;
		border: 1px solid #fff;
		}
		a {
			// font-size: 16px;
			color: #ffffff !important;
			padding: 10px;
			display: block;
			text-transform: uppercase;
			text-decoration: none !important;
 
		}
	}
	.sub-menu{
		display: none;
	}
}