mixin recent-news()
	// start recent-news
	+b.SECTION.recent-news.section#recent-news&attributes(attributes)
		+e.wrapper
			.row
				+e.left-col.col
					.slider
						.slide
							+e.title recent News
							+pic("news-main",'','',0)
							+e.main-news-date Date 00, 2019
							+e.main-news-title Lorem ipsum dolor sit amet, ad vim adversarium instructior.
							+e.main-news-text Lorem ipsum dolor sit amet, ad&nbsp;vim adversarium instructior, vix no&nbsp;dicunt alterum. Ei&nbsp;nec fabellas expetenda. Eam ignota scripserit accommodare&nbsp;no, at&nbsp;usu labitur epicuri. Unum partiendo maluisset at&nbsp;nec, cu&nbsp;magna inimicus pri.
					+e.btn-wrap
						+e.btn-prev.btn.news-swiper-btn <
						+e.btn-next.btn.news-swiper-btn >
				.col
	// end recent-news