mixin s-express()
	// start s-express
	+b.SECTION.s-express.section#s-express&attributes(attributes)
		h1 Express heroes
		p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis delectus veritatis architecto reprehenderit est nisi, reiciendis ab culpa iste incidunt pariatur perferendis fugit tempore debitis fugiat. Suscipit vero sed libero?
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet praesentium incidunt labore harum, iste et quasi quisquam similique? Fugit unde excepturi tenetur itaque molestias. Cupiditate corporis sit magni illum voluptates.
		h2 Visit their web page: 
		a(href='#') www.webpage.com
			
	// end s-express